/*
   Tachyons
   COLOR VARIABLES
   Grayscale
   - Solids
   Colors
*/

$black: #000;
$nearBlack: #111;
$darkGray:#333;
$midGray:#555;
$gray: #777;
$silver: #999;
$lightSilver: #aaa;
$moonGray: #ccc;
$lightGray: #eee;
$nearWhite: #f4f4f4;
$white: #fff;
$transparent:transparent;

$darkRed:  #e7040f;
$red:  #ff4136;
$lightRed:  #ff725c;
$orange:  #ff6300;
$gold:  #ffb700;
$yellow:  #ffd700;
$lightYellow:  #fbf1a9;
$purple:  #5e2ca5;
$lightPurple:  #a463f2;
$darkPink:  #d5008f;
$hotPink: #ff41b4;
$pink:  #ff80cc;
$lightPink:  #ffa3d7;
$darkGreen:  #137752;
$green:  #19a974;
$lightGreen:  #9eebcf;
$navy:  #001b44;
$darkBlue:  #00449e;
$blue:  #357edd;
$lightBlue:  #96ccff;
$lightestBlue:  #cdecff;
$washedBlue:  #f6fffe;
$washedGreen:  #e8fdf5;
$washedYellow:  #fffceb;
$washedRed:  #ffdfdf;
